@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        body{
            font-family: 'Poppins', sans-serif;
            background: #FFFFFF;
        }

.home .carousel-item{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position:relative;
    z-index: 1;
}
.home .carousel-item::before{
    content:'';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index:-1;
}
.home .carousel-item .content{

    position: absolute;
    left:50%;
    top:80%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:auto;
}
 .home .carousel-item h2{
     font-size:30px;
     margin: 0 0 10px;
     color:#FFFFFF;

 }
 .home .carousel-item p{
     font-size: 15px;
     margin: 0;
     color: #eeeeee;
 }

 .conv-btn-warning{
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 9px 25px;
    color:  #3F87F5;
    margin-top: 40px;
    margin-bottom: 50px;

}
 .second{
     margin-top: 80px;

}

.title-package{
    text-align: center;
    margin-bottom: 80px;
}


.c-btn-primary{
    border-radius: 20px;
    background-color:   #6e7b97;
    color: #fdfeff;
    width: 150px;
    height: 40px;
    margin-left: 0px;
   
}

.bad{
    height: 500px;
    width:250px;
    border-radius: 15px;
    display: inline;
    justify-content: right;
    position: relative;
    text-align:center;
    transition: all .3s ease 0s;
}

.Accordion{
    margin-top: 80px;
}

.cmy-5{
    margin-top: 40px;
}

.foot{
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height:280px;
    margin-top:80px;
}


.site-footer{
    background-color: black;

}

.footer-last{
    background-color: black;
    color: whitesmoke;
    height:280px;
    margin-top: 80px;
}

.glg{
    width: 120px;
    margin-top: 20px;
}

 
.bn-text{
    color: floralwhite;
}
.bn-text3{
    color: #FFFFFF;
}
.link{
    text-decoration: none;
}

.c-text-primary{
    color: darkslategrey;
}
.package{
    margin-top: 100px;
    align-items: center;


}

.card-head{
    text-align: center;
}
.clr{
    color:  #5243C2;

    
}
.clrrr{
    margin-bottom: 20px;
}
.clrr{
    color: whitesmoke;
    justify-content:right;
    display: inline;
}
.top{
    font-weight: bold;
}

.pos{
    position:relative;
    margin-top: 50px;
}

.pos1{
    position: relative;
    background-color: white;
    width: 320px;
}

.btnn {
    border-radius: 20px;
    background-color:   whitesmoke;
    color: #3F87F5;
    width: 150px;
    margin-left: 40px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
   
}
.btnn a{
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.off{
    background-color: tomato;
    color: whitesmoke;
    text-align:center;
    
}